# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Python
venv/
.venv/
__pycache__/
*.py[cod]

# ML/runtime
*.log
backend/ml_services/uploads/*
backend/ml_services/venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/